{% extends "dashboard/dashboard-base.html" %}

{% block body %}
<div class="container-fluid">
  <div class="row pt-3 pb-3">
    <div class="col-11 text-center">
        <h4>Rule to Rule Group Mapping</h4>
      </div>
    <div class="col-1">
      <button type="button" class="btn btn-dark float-right" data-toggle="modal"data-target="#rule-groups-rule">
        <i class="fas fa-plus"></i>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="rule-groups-rule" tabindex="-1" role="dialog" aria-labelledby="rule-groups-rule" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <form action="{% url 'add-rule-groups-rule' %}" method="post">
              {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Rule to Rule Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="input-group mb-3">

              <select class="custom-select" name="rule">
                  <option disabled selected value> -- select a rule -- </option>
                {% for organization_rule in organization_rules %}
                  <option value="{{organization_rule.id}}">{{organization_rule.name}}</option>
                {% endfor %}
                </select></div>                <div class="input-group mb-3">

                <select class="custom-select" name="rule_group">
                    <option disabled selected value> -- select a rule group -- </option>
                  {% for organization_rule_group in organization_rule_groups %}
                    <option value="{{organization_rule_group.id}}">{{organization_rule_group.name}}</option>
                  {% endfor %}
                  </select></div>

              <div class="modal-footer">
                <button type="button" class="btn btn-dark mr-auto" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered table-striped">
          <thead>
            <th>Id</th>
            <th>Rule Group Name</th>
            <th>Bed Group Name</th>
            <th>Created</th>
            <th>Last Updated</th>
          </thead>
          <tbody>
            {% for organization_mapping in organization_rule_mappings  %}
              <tr>
                <td class="text-center" colspan="1">{{ organization_mapping.id }}</td>
                <td class="text-center" colspan="1">{{ organization_mapping.rule.name }}</td>
                <td class="text-center" colspan="1">{{ organization_mapping.group.name }}</td>
                <td class="text-center" colspan="1">{{ organization_mapping.createdDate }}</td>
                <td class="text-center" colspan="1">{{ organization_mapping.lstUpdDate }}</td>
              </tr>
            {% empty %}
              <td class="text-center" colspan="100%">There are no rule group mappings to display</td>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock %}
