{% extends "dashboard/dashboard-base.html" %}

{% block body %}

<div class="container-fluid">
  <div class="row pt-3 pb-3">
    <div class="col-11 text-center">
        <h4>Rule Groups to Bed Group Mapping</h4>
      </div>
    <div class="col-1">
      <button type="button" class="btn btn-dark float-right" data-toggle="modal"data-target="#addrulebedmapping">
        <i class="fas fa-plus"></i>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="addrulebedmapping" tabindex="-1" role="dialog" aria-labelledby="addrulebedmapping" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <form action="{% url 'addrulebedmapping' %}" method="post">
              {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Rule Group to Bed Group Mapping</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="input-group mb-3">

              <select class="custom-select" name="rule_group">
                  <option disabled selected value> -- select a rule group -- </option>
                {% for organization_rule_group in organization_rule_groups %}
                  <option value="{{organization_rule_group.id}}">{{organization_rule_group.name}}</option>
                {% endfor %}
                </select></div>                <div class="input-group mb-3">

                <select class="custom-select" name="bed_group">
                    <option disabled selected value> -- select a bed group -- </option>
                  {% for organization_bed_group in organization_bed_groups %}
                    <option value="{{organization_bed_group.id}}">{{organization_bed_group.name}}</option>
                  {% endfor %}
                  </select></div>

                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Priority</span>
                      </div>
                      <input type="number" name="priority" value="0" placeholder="0-100" class="form-control">
                    </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark mr-auto" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered table-striped">
          <thead>
            <th>Id</th>
            <th>Rule Group Name</th>
            <th>Bed Group Name</th>
            <th>Priority</th>
            <th>Created</th>
            <th>Last Updated</th>
          </thead>
          <tbody>
            {% for organization_mapping in organization_mappings  %}
              <tr>
                <td class="text-center" colspan="1">{{ organization_mapping.id }}</td>
                <td class="text-center" colspan="1">{{ organization_mapping.rule_group.name }}</td>
                <td class="text-center" colspan="1">{{ organization_mapping.bed_group.name }}</td>
                <td class="text-center" colspan="1">{{ organization_mapping.priority }}</td>
                <td class="text-center" colspan="1">{{ organization_mapping.createdDate }}</td>
                <td class="text-center" colspan="1">{{ organization_mapping.lstUpdDate }}</td>
              </tr>
            {% empty %}
              <td class="text-center" colspan="100%">There are no rule group mappings to display</td>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock %}
