{% extends 'emails/emailBase.html' %}

{% block content %}
<h1>Welcome to Autotriage!</h1>
<p>Please click the following link to confirm your account.  <a href="www.autotriage.com/confirm/{{ context.confirmation_token }}">Confirm Account</a></p>
<br>
<p>Local Debugging link.  <a href="http://localhost:3000/confirm/{{ context.confirmation_token }}">Confirm Account</a></p>
{% endblock %}
