{% extends 'base.html' %}

{% block title %}404{% endblock %}

{% block content %}
<section class = "auth-section" style = "padding-top: 20rem" id = "login">
  <div class="container">
    <h1 class="text-center text-white"> 404 - Page Machine Broke...</h1>
    <div class="text-center text-white">
    <h2>The webpage you requested was unable to be located :(</h2>
    </div>
  </div>
</section>

{% endblock %}
