{% extends 'base.html' %}

{% block title %}500{% endblock %}

{% block content %}
<section class = "auth-section" style = "padding-top: 20rem" id = "login">
  <div class="container">
    <h1 class="text-center text-white"> 500 - Server Machine Broke :(</h1>
    <div class="text-center text-white">
    <h2>The server made an oopsie, try again later</h2>
    </div>
  </div>
</section>

{% endblock %}
