{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Header -->
<header class="masthead bg-black" id="index">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Autotriage</h1>
      <h2 class="text-white mx-auto mt-2 mb-5">Automatic Patient Triaging Made Easy</h2>
      <a href="{% url 'register' %}" class="btn btn-primary js-scroll-trigger">Sign Up</a>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container reveal-top">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-primary mb-4">About Autotriage</h2>
        <p class="text-white">Autotriage is a cloud based tool that automatically triages patients.</p>
      </div>
    </div>
  </div>
</section>

<!-- features Section -->
<section id="features" class="features-section">
  <div class="container">

    <!-- feature One Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0 reveal-left">
      <div class="col-lg-6">
        <img class="img-fluid" src='{% static "triagewebserver/images/index/brainDarkerReduced.jpg" %}' alt="">
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 feature">
          <div class="d-flex h-100">
            <div class="feature-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-primary">Patient Heuristics</h4>
              <p class="mb-0 text-white">Using your patient override history, you can see valuable information about what your patients are coming
                about the most so you can target your hospital needs towards the needs of your patient base.</p>
              <hr style="float: left;" class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- feature Two Row -->
    <div class="row justify-content-center no-gutters reveal-right">
      <div class="col-lg-6">
        <img class="img-fluid" src='{% static "triagewebserver/images/index/brainDarkerReduced.jpg" %}' alt="">
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 feature">
          <div class="d-flex h-100">
            <div class="feature-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-primary">Machine Learning</h4>
              <p class="mb-0 text-white">With the help of machine learning, our algorithum will learn how to better handle special cases.</p>
              <hr style="float: right; "class="d-none d-lg-block mb-0 mr-0">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Signup Section -->
<section id="signup" class="signup-section bg-black">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center">

        <i class="far fa-paper-plane fa-2x mb-2 text-white reveal-top"></i>
        <h2 class="text-white mb-5 reveal-top">Request a Demo</h2>

        <form class="form-inline d-flex reveal-top">
          <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
          <button type="submit" class="btn btn-primary mx-auto">Get Demo!</button>
        </form>

      </div>
    </div>
  </div>
</section>

{% endblock %}
