{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="container">
	<div class="w3-card-4 focal-card container-fluid">
		<div class="row-fluid">
			<div class="centering text-center">
				<i class="fas fa-id-card fa-10x dark-blue"></i>
				<div class="text-center text-white">
					<h2 class="text-center text-white">{{ user.email }}</h2>
					<h3 class="text-center text-white">User Profile</h3>
					<hr>
					<form method="post">
						{% csrf_token %}
						{% for field in form %}
						{% if field.label == 'Username' %}
						{{empty}}
						{% else %}
						<div class="form-group">
							<label for="id_{{ field.name }}">{{ field.label }}:</label>
							{{ field }}
						</div>
						{% endif %}
						{% endfor %}
						<button class="btn btn-lg btn-primary" type="submit">Update</button>
				  		<br/><br>
				  	<p><a href="{% url 'password_reset' %}">Change Password</a></p>
					</form>
				</div>
			</div>
		</div>
  	</div>
</div>

{% endblock %}
