{% extends "dashboard/dashboard-base.html" %}

{% block body %}
<div class="container-fluid">
  <div class="row pt-3 pb-3">
    <div class="col-11 text-center">
      <h4>Beds</h4>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-dark float-right" data-toggle="modal" data-target="#addBed">
        <i class="fas fa-plus"></i>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="addBed" tabindex="-1" role="dialog" aria-labelledby="addbed" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            {% if organization_bed_groups %}
              <form action="{% url 'addBeds' %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Beds</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Bed Group</span>
                    </div>
                    <select class="custom-select" name="bed_group_assignment">
                      <option disabled selected value> -- select a bed group -- </option>
                    {% for organization_bed_group in organization_bed_groups %}
                      <option value="{{organization_bed_group.id}}">{{organization_bed_group.name}}</option>
                    {% endfor %}
                    </select>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Bed Count</span>
                    </div>
                    <input type="number" min="1" name="new_bed_count" value="" class="form-control">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark mr-auto" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
            {% else %}
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Beds</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>There are no bed groups that belong to this organization.</p>
                <p> No beds can be created.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark mr-auto" data-dismiss="modal">Cancel</button>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
        <div class="col-12">
          <table class="table table-bordered table-striped">
            <thead>
              <th>Bed ID</th>
              <th>Bed Name</th>
              <th>Bed Group</th>
              <th>Created Date</th>
              <th>Last Updated Date</th>
            </thead>
            <tbody>
              {% for organization_bed in organization_beds %}
                <tr>
                  <td class="text-center" colspan="1">{{ organization_bed.id }}</td>
                  <td class="text-center" colspan="1">{{ organization_bed.name }}</td>
                  <td class="text-center" colspan="1">{{ organization_bed.bed_group.name }}</td>
                  <td class="text-center" colspan="1">{{ organization_bed.createdDate }}</td>
                  <td class="text-center" colspan="1">{{ organization_bed.lstUpdDate }}</td>
                </tr>
              {% empty %}
                <td class="text-center" colspan="100%">There are no beds to display</td>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </div>
  {% endblock %}
  