{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section class = "auth-section" style = "padding-top: 20rem" id = "login">
  <div class="container">
    <h1 class="text-center text-white">Log In</h1>
    <div class="text-center text-white">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-lg btn-primary" type="submit">Login</button>
        <br/><br>
        <h3><a href="{% url 'password_reset' %}">Forgot Password?</a></h3>
        <h3>Dont have an account? <a href="{% url 'register' %}">Register</a></h3>
      </form>
    </div>
  </div>
</section>

{% endblock %}
