{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<section class = "auth-section">
  <div class="container text-white" style = "padding-top: 10rem;">
    <h3>Check your inbox.</h3>
    <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
  </div>
</section>
{% endblock %}
