{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<section class = "auth-section">
  <div class="container text-white" style = "padding-top: 10rem;">
    <h3>Password reset complete</h3>
    <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
  </div>
</section>
{% endblock %}
