{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<section class = "auth-section">
  <div class="container text-white" style = "padding-top: 10rem;">
    <h3>Forgot your password?</h3>
    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input class = "btn btn-lg btn-primary" type="submit" value = "Send me instructions!">
    </form>
  </div>
</section>
{% endblock %}
