{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<section class = "auth-section">
  <div class="container text-white" style = "padding-top: 10rem;">
    <h3>Set a new password!</h3>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input class = "btn btn-lg btn-primary" type="submit" value="Change my password">
    </form>
  </div>
</section>
{% endblock %}
