{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<section class = "auth-section" style = "padding-top: 16rem">
  <div class="container bg-transparent">
    <h1 class="text-center text-white">Register</h1>
    <form class = "form" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
            <label class = "text-white" for="id_{{ field.name }}">{{ field.label }}:</label>
            {{ field }}
        </div>
        {% if field.help_text %}
          <div class="alert rules">
            {{ field.help_text }}
          </div>
        {% endif %}
        {% if field.errors %}
          <div class="alert alert-danger rules text-white">
            {{ field.errors }}
          </div>
        {% endif %}
      {% endfor %}
      <div class="text-center">
        <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
      </div>
    </form>
  </div>
</section>

{% endblock %}
