{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'triagewebserver/css/dashboard.min.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Autotriage</a>
      <ul class=" offset-1 nav justify-content-center">
        <li class="nav-item">
          <div class="dropdown">
              <a class="nav-link text-light dropdown-toggle" href="#" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">{{ current_organization.name }}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'organizations' %}">Change Organization</a>
            </div>
          </div>
        </li>
      </ul>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link text-light" href="#"><i class="fas fa-bell"><i style="display: none;" id="notify" class="fas fa-circle text-danger"></i></i></a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
              <a class="nav-link text-light dropdown-toggle" href="#" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">{{user.email}}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <button class="d-md-none d-sm-block navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsableNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="collapsableNav">
        <ul class="navbar-nav flex-column text-center">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'bed-groups' %}active{% endif %}" href="{% url 'bed-groups' %}">Bed Groups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'beds' %}active{% endif %}" href="{% url 'beds' %}">Beds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'rule-groups' %}active{% endif %}" href="{% url 'rule-groups' %}">Rule Groups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'rules' %}active{% endif %}" href="{% url 'rules' %}">Rules</a>
          </li>
          <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'rule-groups-rule' %}active{% endif %}" href="{% url 'rule-groups-rule' %}">Rule to Rule Group Mappings</a>
            </li>
          <li class="nav-item">
             <a class="nav-link {% if request.resolver_match.url_name == 'rulebedmapping' %}active{% endif %}" href="{% url 'rulebedmapping' %}">Rule Group to Bed Group Mappings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'orgs' %}active{% endif %}" href="{% url 'organizations' %}">Organization</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="d-xs-none d-md-flex w-100">
            <nav id="sidebarNav" class="navbar align-items-start navbar-expand-lg navbar-dark bg-dark pl-2 pr-4">
              <div class="collapse d-md-flex navbar-collapse p-3">
                <ul class="navbar-nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">
                      <i class="fas fa-home pr-2"></i>Dashboard
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'bed-groups' %}active{% endif %}" href="{% url 'bed-groups' %}">
                      <i class="fas fa-th-large pr-2"></i>Bed Groups
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'beds' %}active{% endif %}" href="{% url 'beds' %}">
                      <i class="fas fa-bed pr-2"></i>Beds
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'rule-groups' %}active{% endif %}" href="{% url 'rule-groups' %}">
                      <i class="fas fa-object-group pr-2"></i>Rule Groups
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'rules' %}active{% endif %}" href="{% url 'rules' %}">
                      <i class="fas fa-tasks pr-2"></i>Rules
                    </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link {% if request.resolver_match.url_name == 'rule-groups-rule' %}active{% endif %}" href="{% url 'rule-groups-rule' %}">
                        <i class="fas fa-object-group pr-2"></i>Rule to Rule Group Mappings
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% if request.resolver_match.url_name == 'rulebedmapping' %}active{% endif %}" href="{% url 'rulebedmapping' %}">
                        <i class="fas fa-tasks pr-2"></i>Rule Group to Bed Group Mappings
                      </a>
                    </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link" href="/organizations/" role="button">
                      <i class="fas fa-building pr-2"></i>Organizations
                    </a>
                  </li>                    
                </ul>
              </div>
            </nav>
          {% block body %}
          {% endblock %}
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </body>
</html>
