{% extends "dashboard/dashboard-base.html" %}

{% block body %}
<div class="container-fluid">
  <div class="row pt-3 pb-3">
    <div class="col-11 text-center">
      <h4>Organization Dashboard</h4>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-dark float-right" data-toggle="modal"data-target="#addOrganization">
        <i class="fas fa-plus"></i>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="addOrganization" tabindex="-1" role="dialog" aria-labelledby="addOrganization" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <form action="{% url 'addOrganization' %}" method='POST'>
              {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create a new organization</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Organization name</span>
                  </div>
                  <input type="text" name="name" value="" class="form-control">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Add Users</span>
                  </div>
                  <input class="form-control" type="text" name="users" placeholder="Enter emails separated by ','">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Description</span>
                  </div>
                  <textarea class="form-control" name="desc" rows="8" cols="80"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table text-center table-striped">
          <thead>
            <th>API Key</th>
            <th>Name</th>
            <th>Created Date</th>
          </thead>
          <tbody>
            {% for user_organization in user_organizations %}
              <tr>
                <td class="text-center" colspan="1">{{ user_organization.organization.id }}</td>
                <td class="text-center" colspan="1">{{ user_organization.organization.name }}</td>
                <td class="text-center" colspan="1">{{ user_organization.organization.createdDate }}</td>
                <td style="border: 0px; background: white;" class="text-center" colspan="1">
                  <div class="input-group">
                    <a class="btn-sm btn-dark m-auto" href="{% url 'organizationChange' user_organization.organization.id %}">Use</a>
                  </div>
                </td>
              </tr>
            {% empty %}
              <td class="text-center" colspan="100%">You are a part of no organizations</td>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock %}
