{% extends "dashboard/dashboard-base.html" %}

{% block body %}
<div class="container-fluid">
  <div class="row justify-content-center text-center pt-4">
    <div class="col-md-3 col-sm-12">
      <div class="card">
        <h5 class="card-header">Beds Available</h5>
        <div class="card-body">
          <h4 class="m-0">{{ beds.count }}</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="card">
        <h5 class="card-header">Bed Groups Available</h5>
        <div class="card-body">
          <h4 class="m-0">{{ organization_bed_groups.count }}</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="card">
        <h5 class="card-header">Patients Processed</h5>
        <div class="card-body">
          <h4 class="m-0">{{ organization_patients.count }}</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="card">
        <h5 class="card-header">Assignments</h5>
        <div class="card-body">
          <h4 class="m-0">{{ assignments.count }}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5 mt-5">
    <div class="col-md-6 col-sm-12">
      <h4 class="text-center">Bed Group Overview</h4>
      <table class="table table-bordered table-striped">
        <thead>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
        </thead>
      <tbody>
        {% for organization_bed_group in organization_bed_groups  %}
        <tr>
              <tr>
                <td class="text-center" colspan="1">{{ organization_bed_group.id }}</td>
                <td class="text-center" colspan="1">{{ organization_bed_group.name }}</td>
                <td class="text-center" colspan="1">{{ organization_bed_group.description }}</td>
        </tr>
        {% empty %}
        <td class="text-center" colspan="100%">There are no bed groups to display</td>
        {% endfor %}

      </tbody>
    </table>
    </div>
    <div class="col-md-6 col-sm-12">
      <h4 class="text-center">Patient Overview</h4>
      <table class="table table-bordered table-striped">
        <thead>
          <th>ID</th>
          <th>Patient Identifier</th>
          <th>Primary Symptom</th>
          <th>Bodily System</th>
          <th>Other</th>
          <th>Created Date</th>
        </thead>
      <tbody>

          {% for organization_patient in organization_patients  %}
          <tr>
                <tr>
                  <td class="text-center" colspan="1">{{ organization_patient.id }}</td>
                  <td class="text-center" colspan="1">{{ organization_patient.identifier }}</td>
                  <td class="text-center" colspan="1">{{ organization_patient.primary_symptom }}</td>
                  <td class="text-center" colspan="1">{{ organization_patient.bodily_system }}</td>
                  <td class="text-center" colspan="1">{{ organization_patient.other }}</td>
                  <td class="text-center" colspan="1">{{ organization_patient.createdDate }}</td>
          </tr>
          {% empty %}
          <td class="text-center" colspan="100%">There are no bed groups to display</td>
          {% endfor %}
  
      </tbody>
      </table>
    </div>
        <div class="col-md-12 col-sm-12">
            <h4 class="text-center">Assignments Overview</h4>
          <table class="table table-bordered table-striped">
            <thead>
              <th>Id</th>
              <th>Patient Identifier</th>
              <th>Organization</th>
              <th>Bed Name</th>
              <th>Bed Status</th>
              <th>Created</th>
            </thead>
          <tbody>
            {% for assignment in assignments  %}
            <tr>
                  <tr>
                    <td class="text-center" colspan="1">{{ assignment.id }}</td>
                    <td class="text-center" colspan="1">{{ assignment.patient.identifier }}</td>
                    <td class="text-center" colspan="1">{{ assignment.org.name }}</td>
                    <td class="text-center" colspan="1">{{ assignment.bed.name }} </td>
                    <td class="text-center" colspan="1">{% if assignment.bed.status == 0 %}Available{% else %}Taken{% endif %}</td>
                    <td class="text-center" colspan="1">{{ assignment.createdDate }}</td>
            </tr>
            {% empty %}
            <td class="text-center" colspan="100%">There are no assignments to display</td>
            {% endfor %}
    
          </tbody>
        </table>
        </div>
  </div>
</div>
{% endblock %}
