{% extends "dashboard/dashboard-base.html" %}

{% block body %}

<div class="container-fluid">
  <div class="row pt-3 pb-3">
    <div class="col-11 text-center">
      <h4>Rule Groups</h4>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-dark float-right" data-toggle="modal"data-target="#addRuleGroup">
        <i class="fas fa-plus"></i>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="addRuleGroup" tabindex="-1" role="dialog" aria-labelledby="addRuleGroup" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <form action="{% url 'addRuleGroup' %}" method="post">
              {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Rule Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Group Name</span>
                  </div>
                  <input type="text" name="name" value="" class="form-control">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Description</span>
                  </div>
                  <textarea class="form-control" name="desc" rows="8" cols="80"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark mr-auto" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered table-striped">
          <thead>
            <th>Id</th>
            <th>Organization</th>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
            <th>Last Updated</th>
          </thead>
          <tbody>
            {% for organization_rule_group in organization_rules_groups  %}
              <tr>
                <td class="text-center" colspan="1">{{ organization_rule_group.id }}</td>
                <td class="text-center" colspan="1">{{ organization_rule_group.organization.name }}</td>
                <td class="text-center" colspan="1">{{ organization_rule_group.name }}</td>
                <td class="text-center" colspan="1">{{ organization_rule_group.description }}</td>
                <td class="text-center" colspan="1">{{ organization_rule_group.createdDate }}</td>
                <td class="text-center" colspan="1">{{ organization_rule_group.lstUpdDate }}</td>
              </tr>
            {% empty %}
              <td class="text-center" colspan="100%">There are no rule groups to display</td>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock %}
