.auth-section {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, #{fade-out($black, .9)} 0%,#{fade-out($black, .5)} 75%,$black 100%), linear-gradient(to top, #{fade-out($black, .9)} 0%,#{fade-out($black, .5)} 75%,$black 100%), url('../images/index/darkHospitalReduced.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  font-family: 'Varela Round';
  h1 {
    font-size: 3.5rem;
    color: $white;
    padding: 2rem;
    //border-bottom: 0.25rem solid white;
  }

  form {
    padding-top: 1rem;
    label {
      font-size: 1.5rem;
      color: $white;
    }
    input {
      border-radius: 0.25rem;
    }

    .rules {
      color: white;
      background-color: $secondary;
      border: 1px solid transparent !important;
      ul {
        margin-bottom: 0rem !important;
        padding-left: 1rem !important;
      }
    }
  }
}
