@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'auth.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'features.scss';
@import 'signup.scss';
@import 'contact.scss';
@import 'bootstrap_overrides.scss';


body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
  color: black;

}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: $secondary;
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}
