{% extends "dashboard/dashboard-base.html" %}

{% block body %}
<div class="container-fluid">
  <div class="row pt-3 pb-3">
    <div class="col-11 text-center">
      <h4>Rules</h4>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-dark float-right" data-toggle="modal" data-target="#addRule">
        <i class="fas fa-plus"></i>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="addRule" tabindex="-1" role="dialog" aria-labelledby="addrule" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <form action="{% url 'addRules' %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Rules</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Rule Name</span>
                      </div>
                      <input type="text" name="name" value="" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Description</span>
                      </div>
                      <textarea class="form-control" name="desc" rows="8" cols="80"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Rule Value</span>
                        </div>
                        <input type="number" name="value" value="" class="form-control">
                      </div>
                    <select class="custom-select" name="rule_type_assignment">
                      <option disabled selected value> -- select a rule type -- </option>
                      <option value="PS">Primary Symptom</option>
                      <option value="ESI">Emergency Serverity Index</option>
                      <option value="BS">Bodily Symptom</option>
                      <option value="OT">Custom</option>
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark mr-auto" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered table-striped">
          <thead>
            <th>Rule ID</th>
            <th>Rule Type</th>
            <th>Name</th>
            <th>Value</th>
            <th>Created Date</th>
            <th>Last Updated Date</th>
          </thead>
          <tbody>
            {% for organization_rule in organization_rules %}
              <tr>
                <td class="text-center" colspan="1">{{ organization_rule.id }}</td>
                <td class="text-center" colspan="1">{{ organization_rule.rule_type }}</td>
                <td class="text-center" colspan="1">{{ organization_rule.name }}</td>
                <td class="text-center" colspan="1">{{ organization_rule.value }}</td>
                <td class="text-center" colspan="1">{{ organization_rule.createdDate }}</td>
                <td class="text-center" colspan="1">{{ organization_rule.lstUpdDate }}</td>
              </tr>
            {% empty %}
              <td class="text-center" colspan="100%">There are no rules to display</td>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock %}
